<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>

    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
        <h1>
            Lista della spesa
        </h1>
        <main class="wrapper">
            <div class="taskbar">
                <input type="text" class="nuovo-elemento" name="userTodo" id="userTodo" v-model="newTodoElement" @keyup.enter="addNewTodoItem(newTodoElement)">
            </div>
            <ul class="lista-spesa" v-if="element.text === element.done.true">
                <li class="todo-item" v-for="(element, index) in listaSpesa">
                    <p>
                        {{ element.text }} 
                    </p>
                    <span @click="removeTodoElement(todoElement)">
                        &cross;
                    </span>
                </li>
            </ul>
        </main>
    </div>



    <script src="./js/script.js"></script>
</body>
</html>