*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 1rem;
    
}

.wrapper{
    margin: auto;
    text-align: center;
    width: 60%;
}

.lista-spesa{
    margin: 1rem;
    list-style-type: none;
    
    
}

.todo-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 10px;
}

.testo-sbarrato{
    text-decoration:line-through ;
}

button{
    margin-top: 20px;
}